html
    head
        link(rel='stylesheet', href='/css/base.css')
        title qrtle

    body
        #container
            h1 qrtle
            form#create(action='/qr', method='get')
                input(name='text', type='text', placeholder='text')
                button Create
            img#preview

    script(src='/js/base.js')
